@CHARSET "ISO-8859-1";

a
{
	color: #777777;
}

a:hover, a:focus
{
	color: #111111;
}

.alert-black
{
	background-color: LightGray;
    border-color: DarkGray;
    color: Black;
}

.btn-black 
{ 
	background-color: hsl(213, 0%, 24%) !important; 
	background-repeat: repeat-x; 
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#9e9e9e", endColorstr="#3d3d3d"); 
	background-image: -khtml-gradient(linear, left top, left bottom, from(#9e9e9e), to(#3d3d3d)); 
	background-image: -moz-linear-gradient(top, #9e9e9e, #3d3d3d); 
	background-image: -ms-linear-gradient(top, #9e9e9e, #3d3d3d); 
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #9e9e9e), color-stop(100%, #3d3d3d)); 
	background-image: -webkit-linear-gradient(top, #9e9e9e, #3d3d3d); 
	background-image: -o-linear-gradient(top, #9e9e9e, #3d3d3d); 
	background-image: linear-gradient(#9e9e9e, #3d3d3d); 
	border-color: #3d3d3d #3d3d3d hsl(213, 0%, 14.5%); 
	color: #fff !important; 
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.62); 
	-webkit-font-smoothing: antialiased; 
}

.btn-black:hover, .btn-black:focus
{ 
	background-color: hsl(213, 0%, 7%) !important; 
	background-repeat: repeat-x; 
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#777777", endColorstr="#111111"); 
	background-image: -khtml-gradient(linear, left top, left bottom, from(#777777), to(#111111)); 
	background-image: -moz-linear-gradient(top, #777777, #111111); 
	background-image: -ms-linear-gradient(top, #777777, #111111); 
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #777777), color-stop(100%, #111111)); 
	background-image: -webkit-linear-gradient(top, #777777, #111111); 
	background-image: -o-linear-gradient(top, #777777, #111111); 
	background-image: linear-gradient(#777777, #111111); 
	border-color: #111111 #111111 hsl(213, 0%, -3%); 
	color: #fff !important; 
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.66); 
	-webkit-font-smoothing: antialiased; 
}

.btn-round
{
	width:40px;
  	height:40px;
  	border-radius:50%;
}

.center
{
	text-align: center;
	float: none;
    margin: 0 auto;
}

.copied-message
{
	display: none;
}

.fa-facebook:active, .fa-facebook:hover
{
	color: #3b5998;
}

.fa-linkedin:active, .fa-linkedin:hover
{
	color: #007bb6;
}

.fa-pinterest:active, .fa-pinterest:hover
{
	color: #cb2027;
}

.fa-twitter:active, .fa-twitter:hover
{
	color: #4099FF;
}


.form-control[readonly]
{
	cursor: default;
}

img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

label.error
{
	display: block;
    font-weight: 700;
    margin-bottom: 5px;
    max-width: 100%;
}

.li-sidebar
{
	
	list-style-type: none;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	margin-left: 10px;
}

.link-copy-input
{
	font-family: Consolas,"Liberation Mono",Menlo,Courier,monospace;
}

.share-div
{
	display: none;
}

.sidebar
{
	border-right: 1px dotted grey;
	padding-top: 10px;
	height: 100%;
}

.ul-sidebar
{
	
	padding-top: 10px;
	padding-left: 10px;
	margin-left: 10px;
}
