@CHARSET "ISO-8859-1";

.center
{
	text-align: center;
}

img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.btn-round
{
	width:40px;
  	height:40px;
  	border-radius:50%;
}

.sidebar
{
	border-right: 1px dotted grey;
	padding-top: 10px;
	height: 100%;
}

.li-sidebar
{
	
	list-style-type: none;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	margin-left: 10px;
}

.ul-sidebar
{
	
	padding-top: 10px;
	padding-left: 10px;
	margin-left: 10px;
}