{% extends "base.html.twig" %}

{% block title %}
	{{ parent() }}
{% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block content %}

<h3 class="center">{{ user.email }}</h3>
<br><br>
<div class="col-sm-3 col-md-2 sidebar">
	<ul>
		<li class="li-sidebar"><a href="createKiindGift.php">Create Kiind Gift</a></li>	
		<li class="li-sidebar"><a href="/logout">Log Out</a></li>	
	</ul>
</div>

<div class="main">
	<h3>Home</h3>
</div>
{% endblock %}

