<!DOCTYPE html>
<html>
    <head>
        {% block head %}            
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap-theme.min.css">			
			<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
			<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css" />
			<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
			<script src="http://jqueryvalidation.org/files/dist/jquery.validate.min.js"></script>
			<script src="http://jqueryvalidation.org/files/dist/additional-methods.min.js"></script>
			<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
			
			<link rel="stylesheet" href="/css/base.css" />            
            <title>{% block title %}Quidprize{% endblock %}</title>
        {% endblock %}
    </head>
    <body>
    	{% block sidebar %}
    		{% if user %}
    		<div id="sidebar" class="col-md-2 sidebar">
				<h5 class="center">{{ user.email }}</h5>
				<img src="/css/qpwhite.png" class="center" height="90px" style="padding-bottom:10px;padding-top:10px;" >
				<ul class="ul-sidebar">
					<li class="li-sidebar">
						<a href="/">
							<i class="fa fa-dashboard"></i> Dashboard
						</a>
					</li>
					
					<li class="li-sidebar">
						<a href="/user/{{ user.id }}/link">
							<i class="fa fa-link"></i> Links
						</a>
					</li>
					
					<li class="li-sidebar">						
						<a href="/campaign">
							<i class="fa fa-dollar"></i> Campaigns
						</a>
					</li>													
						
					<br />	
					<hr>
					<br />						
										
					<li class="li-sidebar">						
						<a href="/user/{{ user.id }}/edit">
							<i class="fa fa-user"></i> Profile
						</a>
					</li>
					
					<br />
					<hr>
					<br />
					
					<li class="li-sidebar">						
						<a href="/logout">
							<i class="fa fa-sign-out"></i> Log Out
						</a>
					</li>	
				</ul>				
			</div>
			{% else %}
				<div class="col-md-2">&nbsp;</div>
			{% endif %}
        {% endblock %}
        <div id="content" class="col-md-8">{% block content %}{% endblock %}</div>
        <div id="right" class="col-md-2">{% block right %}{% endblock %}</div>
        <div id="footer">{% block footer %}{% endblock %}</div>
    </body>
</html>