{% extends "base.html.twig" %}

{% block title %}
	{{ parent() }}
{% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block content %}

<div class="center row">
<h1>What is Quidprize?</h1>
</div>
<div class="row">
	<div class="left" >
	<ul>
	<li>Quidprize is a Business-to-Consumer social media advertising tool that enables small and large companies to capitalize on customer enthusiasm. Each advertising campaign for a business is paid for with a <b>gift card</b> to the business itself, which is rewarded to the user who drives the most traffic to the desired URL.</li>
	<li>Loyal customers drive traffic to the business through the use of <b>shortlinks</b> which are provided to them when they participate in a campaign. The more clicks they get, the more likely they are to win the gift card!</li> 
	<li>For <b>companies</b> using quidprize for their online advertising, the benefits are enormous:
	<ul>
		<li>Using their existing product or service saves them from spending their hard-earned capital;</li>
		<li>Their loyal customers spread brand enthusiasm in their efforts to win the gift card;</li>
		<li>Unused gift cards get 60% cash back;</li>
		<li>Redeemed gift cards turn into 100% revenue!</li>
	</ul></li>
	<li>For <b>customers</b> participating with quidprize, it's a free lunch:
	<ul>
		<li>It's free to sign up and free to participate - and every click they get increases their odds of winning something worth <b>real money</b>!</li>
		<li>Every new user they recruit further adds to their chances of winning something worth <b>real money</b>!</li>
	</ul>
	<li>Draws are randomized, with every individual click of a campaign given equal weight, so <b>every</b> user participating has a chance of winning, but the odds are with those who do the best advertising!</li>
	<li>Clicks are tracked via <b>goo.gl</b>, allowing for in-depth metadata querying and further social media insight for companies using our "Pro" subscription.</li> 
	</ul>
	</div>
</div>

<div class="row">
	<div class="col-md-7 center">
	<br />
	<h3>Sign Up</h3>
	If you'd like to join, <a href="/contact">sign up here</a>. 
	<br />
	If you forgot your password, you can <a href="/contact">get us to reset it again</a>.
	<br />
	If you were just curious, <a href="/">go back home</a>.
	<br />
	</div>
</div>
<br />

<div class="row">
	<div class="col-md-7 center">
	<h3>Powered By</h3><br/>
	<a href="http://www.kiind.me" target="_blank">
	<img src="https://staticimageskiind.s3.amazonaws.com/logo/kiind-logo-home.png" style="height: 100px;">
	</a>
	<br />
	<br />
	<a href="http://www.goo.gl" target="_blank">
	<img src="/css/google-url-shortner-logo.jpg" style="height: 100px; ">
	</a>
	</div>
</div>

</div>
{% endblock %}